@model RefferedDoctor
@{
    Layout = null;
}

<label class="d-flex align-items-center fs-5 fw-semibold mb-2">
	<span> Referer Doctor Name</span>
	<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Add Referer Doctor Name "></i>
</label>
<input type="text" asp-for="DoctorName" class="form-control" />